
main {
  position: relative;
}

.notification-container {
    display: inline-block;
}
.notification-container .title i {
    display: inline-block;
}
.notification-container .title.inactive i {
    border: solid 1px #d8d8d8;
    border-radius: 10px;
    padding: 4px;
    color: #7e7e7e;
    font-size: 10px;
    line-height: 10px;
}
.notification-container .title.inactive:hover i {
    color: #fff;
    background: gray;
    border-color: gray;
}

.menu-dropdown {
  position: relative;
}
.menu-dropdown-items > li {
  display: block;
  padding: 0 15px;
  width: 100%;
  white-space: nowrap;
}
.menu-dropdown-items > li a {
  display: block;
}
.menu-dropdown-active > .menu-dropdown-items {
    display: block;
}
.menu-dropdown-items {
  display: none;
  border-radius: 3px;
  z-index: 999;
  position: absolute;
  left: calc(50% - 80px);
  padding: 0;
  min-width: 160px;
  background: #fff;
  text-align: left;
  border: 1px solid rgba(0,0,0,0.15);
  border-top-color: #ddd;
}
.menu-dropdown-items::before {
  content: '\A';
  position: absolute;
  top: -20px;
  left: calc(50% - 15px);
  border-width: 10px 15px;
  border-style: solid;
  border-color: transparent transparent #ddd;
}
.menu-dropdown-items::after {
  content: '\A';
  position: absolute;
  top: -19px;
  left: calc(50% - 15px);
  border-width: 10px 15px;
  border-style: solid;
  border-color: transparent transparent #fff;
}

.header-top-menu-list > li {
  display: inline-block;
  margin-left: 15px;
  line-height: 40px;
}
.header-top-phone {
  font-weight: bold;
}
.header-top-calltime {
  padding-left: 10px;
}
.navbar-menu [class*="fa-"] {
  color: #7e7e7e;
  font-size: .8em;
}

.logo-container .logo-chevron {
    width: 30px;
    background: none;
    display: inline-block;
    height: 60px;
    vertical-align: top;
    line-height: 60px;
    padding-left: 5px;
}
.logo-chevron i {
   opacity: 0.5;
   color: #fff;
}
.logo-container a {
  font-family: 'DigitalMono-7';
  font-weight: normal;
  font-style: normal;
  font-size: 40px;
  color: #fff;
  text-decoration: none;
  line-height: 40px;
  margin-top: 10px;
}

.catalog {
  position: relative;
  margin-left: -1px;
  margin-bottom: 30px;
  height: auto;
  width: 240px;
  font-size: 14px;
  z-index: 898;
}
.catalog li {
  display: block;
  border: 1px solid #ddd;
  border-left: 2px solid #80cafc;
  border-bottom: none;
  padding: 0;
  background: #fff;
  font-size: 13px;
}
.catalog li a {
  color: #333;
  display: flex;
  align-items: center;
  text-decoration: none;
  min-height: 40px;
}
.catalog li>a {
  min-height: 40px;
}
.catalog>li:last-child {
  box-shadow: inset 0 -1px 0 0 #ddd;
  border-radius: 0 0 3px 3px !important;
  border-bottom: none;
}
.catalog:hover li>a::before {
  box-shadow: inset -12px 0 24px -14px #ddd;
  content: ' ';
  position: absolute;
  top: 0;
  left: 0;
  width: 240px;
  height: 100%;
  transition: box-shadow .2s;
}
.catalog li:hover>a:before {
  display:none
}
.catalog li:hover {
  border-right: none;
}
.catalog li:hover>a {
  color: rgb(29, 113, 184);
}
.catalog-icon {
  position: relative;
}
.catalog li>.sub-wrap {
  -moz-border-radius-topleft: 0;
  -webkit-border-top-left-radius: 0;
  border-top-left-radius: 0;
  -moz-border-radius-bottomleft: 0;
  -webkit-border-bottom-left-radius: 0;
  border-bottom-left-radius: 0;
  -moz-border-radius-topright: 4px;
  -webkit-border-top-right-radius: 4px;
  border-top-right-radius: 4px;
  -moz-border-radius-bottomright: 4px;
  -webkit-border-bottom-right-radius: 4px;
  border-bottom-right-radius: 4px;
  background: #fff;
  position: absolute;
  left: 240px;
  width: 240px;
  z-index: 1000;
  border: 1px solid #ddd;
  border-left: none;
  top: 0;
}
.catalog li>.sub-wrap .catalog-subcatalog {
  display: block;
  padding-left: 0;
  width: auto;
  position: relative;
}
.catalog li>.sub-wrap .catalog-subcatalog>li>.item-wrap {
  color: #777;
  cursor: pointer;
}
.catalog li>.sub-wrap .catalog-subcatalog>li {
  border-radius: 0;
  border: none;
  border-bottom: 1px solid #ddd;
}
.catalog li>.sub-wrap .catalog-subcatalog>li>.item-wrap a {
  color: #333;
  display: inline;
  padding-right: 5px;
}
li:hover>a>.icon {
  display: none;
}
.catalog-icon img {
  margin-left: 9px;
  margin-right: 9px;
  width: 22px;
  height: 22px;
}
.catalog-icon .title {
  width: 180px;
}
.catalog-icon .icon {
  color: #aaa;
  font-size: 10px;
  margin-right: 10px;
}
.modal-backdrop {
  bottom: 0;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 897;
  opacity: 0.5;
  background-color: #000;
}
.catalog-subcatalog.level-1 .sub-wrap {
  margin-top: -1px;
}

.micro-logo {
	margin: 15px auto;
	text-align: center;
}
.micro-logo .m-logo {
	font-family: 'DigitalMono-7';
  font-weight: bold;
  font-style: normal;
  font-size: 70px;
  color: #ccc;
  margin-top: 20%;
}
.micro-logo a:hover {
	text-decoration: none;
}

.rl-dialog {
   border: 2px solid #ccc;
   border-radius: 15px;
   width: 530px;
   margin: 15px auto;
   background-color: #fff;
   padding-bottom: 15px;
   position: relative;
   min-height: 100px;
}
.rl-dialog .error {
   background-color: #fed4d5;
   border-radius: 4px;
   margin-bottom: 10px;
   color: #c20000;
   text-align: center;
   padding: 5px 5px 7px 5px;
}
.rl-dialog input {
   font-size: 16px;
   width: 444px;
   height: 30px;
   margin-top: 7px;
   margin-bottom: 10px;
   border: 1px solid #ccc;
   border-radius: 4px;
   padding: 0 3px 0 3px;
}
.rl-dialog input[type="checkbox"] {
   visibility: hidden;
   width: 30px;
}
.rl-dialog *{
   box-sizing:content-box;
}
.rl-dialog a{
   color: #0493d9;
   text-decoration: none;
   font-weight: 700;
}
.rl-dialog .btn {
   width: 180px;
   font-size: 17px;
   height: 50px;
}
.rl-dialog .active-btn {
     border: none;
     background-color: #ff6801;
     color: #fff;
     height: 50px;
     width: 180px;
     font-size: 17px;
     font-weight: bold;
     box-shadow: inset 0 1px 0 0 #fff;
     -moz-box-shadow: 0 1px 3px rgba(0,0,0,.5);
     -webkit-box-shadow: 0 1px 3px rgba(0,0,0,.5);
     border-bottom: 1px solid rgba(0,0,0,.25);
     text-shadow: 0 -1px 1px rgba(0,0,0,.25);
     background: -moz-linear-gradient(0% 100% 90deg,#e1630e,#ff6801);
     background: -webkit-gradient(linear,0% 0%,0% 100%,from(#ff6801),to(#e1630e));
     cursor: pointer;
}
.rl-dialog .medium-btn {
   width: 210px;
}
.rl-dialog .active-btn:hover {
   background: #ff6801;
   background: -moz-linear-gradient(0% 100% 90deg,#e1630e,#e25d02);
   background: -webkit-gradient(linear,0% 0%,0% 100%,from(#e25d02),to(#ff6801));
   cursor: pointer;
}
.rl-dialog .hr {
   border-top: 2px solid #ccc;
   width: 100%;
   height: 2px;
   margin-top: 5px;
   padding-top: 5px;
}
.rl-dialog .valid {
   box-shadow: 0 0 5px #8dfa85!important;
   border-color: #7bdf73!important;
}
.rl-dialog .invalid {
   box-shadow: 0 0 5px #ff9e9e!important;
   border-color: #ffa2a2!important;
}
.rl-dialog input:focus {
   outline: none;
}
.rl-dialog .r-topic {
   font-size: 26px;
   color: #404040;
   margin: 8px 0 15px 40px;
}
.rl-dialog .r-footer {
   text-align: center;
}
.password-area {
       font-size: 15px;
       position: relative;
       display: block;
}
.show-password {
       width: 88px;
       position: absolute;
       height: 20px;
       top: 13px;
       right: 5px;
       text-align: right;
       float: right;
       cursor: pointer;
}
.show-password span {
       top: 0;
       position: relative;
       font-size: 15px;
}
.show-password label {
       position: absolute;
       width: 17px;
       height: 17px;
       top: 0;
       border-radius: 3px;
       left: 0;
       border: 1px solid #898888;
}
.show-password label::after {
       -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
       filter: alpha(opacity=0);
       opacity: 0;
       content: '';
       position: absolute;
       width: 8px;
       height: 5px;
       background: transparent;
       top: 3px;
       left: 3px;
       border: 3px solid #007aff;
       border-top: none;
       border-right: none;
       -webkit-transform: rotate(-45deg);
       -moz-transform: rotate(-45deg);
       -o-transform: rotate(-45deg);
       -ms-transform: rotate(-45deg);
       transform: rotate(-45deg);
       box-sizing: content-box;
}
.show-password label:hover::after {
       opacity: 0.3;
}
.show-password input[type="checkbox"]:checked + label::after {
       opacity: 1;
}
.registration {
       position: relative;
       margin-left: 40px;
       color: #404040;
       width: 450px;
}
.controls {
       margin-top: 10px;
}
.captcha {
       margin: 10px 0 5px 0;
}
.buttons {
       text-align: center;
}

.policy-area {
    margin: 7px 0 7px 0;
    font-size: 15px;
    position: relative;
    height: 40px;
}
.policy {
    width: 30px;
    position: absolute;
    float: left;
    height: auto;
}
.policy input[type=checkbox] {
    margin: 0;
}
.policy input[type=checkbox]:checked+label {
    background: -webkit-linear-gradient(top,#59de23 40%,#32ad00 100%);
    background: -moz-linear-gradient(top,#59de23 40%,#32ad00 100%);
    background: -o-linear-gradient(top,#59de23 40%,#32ad00 100%);
    background: -ms-linear-gradient(top,#59de23 40%,#32ad00 100%);
    background: linear-gradient(top,#59de23 40%,#32ad00 100%);
}
.policy label {
    cursor: pointer;
    position: absolute;
    width: 18px;
    height: 18px;
    top: 0;
    border-radius: 4px;
    left: 0;
    background: -webkit-linear-gradient(top,#dfe5d7 40%,#b3bead 100%);
    background: -moz-linear-gradient(top,#dfe5d7 40%,#b3bead 100%);
    background: -o-linear-gradient(top,#dfe5d7 40%,#b3bead 100%);
    background: -ms-linear-gradient(top,#dfe5d7 40%,#b3bead 100%);
    background: linear-gradient(top,#dfe5d7 40%,#b3bead 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#dfe5d7',endColorstr='#b3bead',GradientType=0);
}
.policy input[type=checkbox]:checked+label:after {
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    filter: alpha(opacity=100);
    opacity: 1;
}
.policy label:hover::after {
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=30)";
    filter: alpha(opacity=30);
    opacity: .5;
}
.policy label:after {
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
    opacity: 0;
    content: '';
    position: absolute;
    width: 8px;
    height: 5px;
    background: transparent;
    top: 3px;
    left: 4px;
    border: 3px solid #fff;
    border-top: none;
    border-right: none;
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
    box-sizing: content-box;
}
.policy-text {
    margin-left: 30px;
    position: absolute;
}

.mail-mes {
    color: #404040;
    font-size: 15px;
}
